# Image settings
image:
  repository: "localhost:30500/django-app" # Приватный registry
  tag: "latest"
  pullPolicy: IfNotPresent

# Application configuration
app:
  replicas: 3
  serviceType: ClusterIP
  port: 8000

# Resource limits
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

# Environment variables
env:
  DEBUG: "False"
  ALLOWED_HOSTS: "*"
  DB_HOST: "{{ .Release.Name }}-postgresql"

# Ingress configuration
ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: django-app.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

# PostgreSQL configuration (from Bitnami chart)
postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: latest
    pullPolicy: IfNotPresent
  auth:
    database: "postgres"
    username: "postgres"
    password: "1234"
  persistence:
    enabled: true
    size: 5Gi

# Vault configuration
vault:
  enabled: false
  address: "http://vault.vault.svc.cluster.local:8200"
  secretPath: "secret/data/django-app"